<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Role Page</title>
  <link rel="stylesheet" th:href="@{/loginStyle.css}">
</head>
<body>
<div class="container">
  <div class="left">
    <div class="form-container">
      <h1>Role Page</h1>
      <form th:action="@{/saveRole}" th:object="${role}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="text" th:field="*{roleName}" placeholder="Role Name">
        <div class="form-group">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
        <a th:href="@{/viewRolePage}">Back to Login</a>
      </form>
    </div>
  </div>
  <div class="right">
    <img th:src="@{/images/types-of-infrastructure.jpeg}" alt="Infrastructure Image">
  </div>
</div>
</body>
</html>
